/* Typestyles */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Nunito:300,400,600,700,800,900');
@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');
@font-face {
    font-family: 'Milkshake';
    src: url('milkshake.ttf') format('truetype');
    font-weight: 300;
}


html{
    font-size: 62.5%;
    padding: 0px;
    margin: 0px;
}

*{
  padding: inherit;
  margin: inherit;
  font-size: inherit;
}

body{
  color: #2b2e3c;
  font-family: 'Nunito', sans-serif;
}

h1{
  font-family: "Milkshake",sans-serif;
  font-weight: 300;
  font-size: 6.4rem;
  text-align: center;
  color:#00ac98;
  background-color: #2b2e3c;
  margin: 0px;
  margin-bottom: 40px;
  padding: 20px;
}

h2{
  font-family: 'Nunito', sans-serif;
  font-size: 3.8rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

h2 strong{
  font-weight: 600;
}

p{
  font-family: 'Nunito', sans-serif;
  width: 50%;
  min-width: 540px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  line-height: 140%;
  font-size: 1.6rem;
}

p.large{
  font-size: 2.4rem;
  font-weight:
}

.headline{
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 60px;
}
.subheadline{
  font-weight: 700;
  margin-bottom: 14px;
  font-size: 1.4rem;
  color: #877d8e;
  text-transform: uppercase;
}

pre{
  background-color: #2b2e3c;
  border-radius: 7px;
  padding: 5px 10px 20px 10px;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  white-space: pre-wrap;
  box-shadow: 0px 10px 25px rgba(0,0,0,.3);
}
code{
  font-family: 'hack';
  font-size: 1.2rem;
  color: white;
  line-height: 150%;
  width: 50%;
}

img{
  width: 100%;
}

#logo{
  display: block;
  width: 64px;
  margin: auto;
}

footer{
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}