---
layout: project_detail
theme: dark
id: proj_detail

title: Guitar Practice
subtitle: Skill Log & Song Tracker
hero: proj_guitar.png
---
<!-- <button>Demo</button><button>GitHub Repo</button> -->
</section>
<section class="card">
  <p class="lg"><%= lorem.paragraphs 5 %>
</section>