---
layout: project_detail
theme: dark
id: proj_detail

title: Ikea RFID Experience
subtitle: Digital Shopping List & Wayfinding Concept
bkt: ikea
code: false
---
<section class="content">
  <section>
    <h3>Concept Video</h3>
    <div class="video sq">
      <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/cP6-u-eHQ4o?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section>