---
layout: project_detail
theme: dark
id: proj_detail

title: Insight App
subtitle: Rethinking Standardized Testing
hero: proj_insight.png
code: false
---
<button>Demo</button><button>Design Process (PDF)</button><button>GitHub Repo</button>
</section>
<section class="content">
  <section>
    <h5>
        Mobile UI Design &nbsp;&bull;&nbsp;
        HTML &nbsp;&bull;&nbsp;
        jQuery &nbsp;&bull;&nbsp;
        PhoneGap &nbsp;&bull;&nbsp;
        Education Research &nbsp;&bull;&nbsp;
        User Testing
    </h5>
  </section>
  <section>
    <h3>About This Project</h3>
    <p class="lg">
      When schools rely on fact memorization to prepare for standardized tests, students lose interest in the subject matter and miss its connection to the real word. This tablet-based alternative tests students’ conceptual knowledge and creative problem solving in an engaging, exploratory format.
    </p>
    <p class="lg">
      The test questions in the prototype focus on two science topics — the effect of plant roots on erosion and the effect of sunlight on plant growth. Each test question is an interactive piece through which students demonstrate skills and explain their understanding of the subject matter.
    </p>
  </section>
  <section>
    <h3>Process</h3>
    <div class="card">
      <article>
        <h4>Research</h4>
        <p>To narrow the topic of our project from general education to science-based standardized testing, we visited local science museums and researched educational books and iPad apps We also looked into existing test methods and met with local educators to discuss their experiences teaching young students.</p>
      </article>
    </div>
    <div class="card">
      <article>
        <h4>Wireframes</h4>
        <p>
          The style and content of the app is inspired by game elements and cartoon graphics to make the test more engaging to students.
        </p>
        <p>
          The wireframes focus on two science topics &ndash; the effect of plant roots on erosion and the effect of sunlight on plant growth. Each test question is an interactive piece through which students demonstrate skills and explain their understanding of the subject matter.
        </p>
      </article>
      <article>
        <h4>User Testing</h4>
        <p>
          We conducted a scripted user test with seven local students. Using a paper prototype, we asked the students to complete common tasks within the app.
        </p>
        <p>
          The feedback was mostly positive and we revised the designs based on common problems. Details about our test methods and results can be found on pages 23-28 in the Design Process PDF.
        </p>
      </article>
      <article>
        <h4>Prototype</h4>
        <p>
          The final prototype is a combination of interactive elements and UI animations due to time constraints. It was built in HTML and jQuery, and the wrapped in PhoneGap to create a native iPad app.
        </p>
      </article>
    </div>
  </section>
</section>