---
layout: project
theme: dark
id: proj_detail

title: Insight iPad App
subtitle: Rethinking Standardized Testing
hero: proj_insight.png
---
<section class="card">
  <p class="lg"><%= lorem.paragraphs 5 %>
</section>