---
layout: project_detail
theme: dark
id: proj_detail

title: JavaScript Snippets
subtitle: Code Samples
hero: proj_javascript.png
---
<button>Demo</button><button>GitHub Repo</button>
</section>
<section class="card">
  <p class="lg"><%= lorem.paragraphs 5 %>
</section>