---
layout: project_detail
theme: dark
id: proj_detail

title: Style Guide
subtitle: Documentation Site Template
bkt: style-guide
code: true
---
<section class="content">
  <section id="headline">
    <h3>About This Project</h3>
    <h5>
        JavaScript &nbsp;&bull;&nbsp;
        AJAX &nbsp;&bull;&nbsp;
        jQuery &nbsp;&bull;&nbsp;
        PHP &nbsp;&bull;&nbsp;
        HTML5 &nbsp;&bull;&nbsp;
        LESS &nbsp;&bull;&nbsp;
        Responsive Design
    </h5>
    <p class="lg deta">
      The Style Guide is a template for project documentation. It displays font styles, color palettes, web components, and design patterns. It's built to be responsive across all device sizes with AJAX and PHP, with fallbacks for users who have JavaScript disabled.
    </p>
    <div class="btns">
      <% link_to '/assets/style-guide', :class => 'btn', :target => '_blank' do %>Project Demo<% end %>
      <% link_to 'https://github.com/MariaSzubski/style-guide', :class => 'btn', :target => '_blank' do %>Github Repo<% end %>
    </div>
  </section>
  <section>
    <h3>Pixel/Rem Unit Conversion</h3>
    <p class="detail">
      Users can switch between pixels and rem measurements using the switch at the top of the screen. This setting applies site-wide and is saved to local storage.
    </p>
    <div class="video">
      <iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src="https://www.youtube-nocookie.com/embed/bstTshKegww?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;"></iframe>
    </div>
    <pre class="language-markup"><h4>HTML Snippet</h4><code><!--
      <div class="btn-group" role="group">
        <span>Units:</span>
        <button type="button" id="size-px">px</button><button type="button" id="size-rem">rem</button>
      </div>
    --></code></pre>
    <pre class="language-javascript"><h4>JavaScript</h4><code>
      /* Requires html button with at least two unit options.
      Unit setting is saved in local storage. */

      if (Modernizr.localstorage) {

        // ON INITIAL LOAD: Check local storage and convert units to saved preference
        toggle_pxrem();

        // ON BUTTON PRESS: Change button state, update localStorage, and convert units
        (function pxrem(){
          $('button').click(function(e){
            $('button').toggleClass('btn-selected');
            $('#size-px').hasClass('btn-selected') ?
            localStorage.setItem('pxrem', 'px') : localStorage.setItem('pxrem', 'rem');
            convert();
          });
        })();

        // Check localStorage and convert units
        function toggle_pxrem(){
          (localStorage.pxrem == undefined) ? localStorage.setItem('pxrem', 'px') : null;

          (localStorage.pxrem == 'rem') ?
          ($('#size-px').removeClass('btn-selected'),
          $('#size-rem').addClass('btn-selected'))
          : null;

          (localStorage.pxrem == 'px') ?
          ($('#size-rem').removeClass('btn-selected'),
          $('#size-px').addClass('btn-selected'))
          : null;

          convert();
        }

        // Convert units
        function convert(){

          /* rem -> px */
          if (localStorage.pxrem == 'px'){
            $('.pxrem').each(function(){
              let px = $(this).html();
              if (px.includes('rem')) {
                let px_arr = px.match(/[^rem]+|rem/g);
                px_arr[0] = px_arr[0] * 16;
                px_arr[1] = 'px';
                $(this).html(px_arr.join(''));
              };
            });
          }

          /* px -> rem */
          else if (localStorage.pxrem == 'rem'){
            $('.pxrem').each(function(){
              let rem = $(this).html();
              let rem_arr = rem.match(/[^px]+|px/g);
              rem_arr[0] = rem_arr[0] / 16;
              rem_arr[1] = 'rem';
              $(this).html(rem_arr.join(''));
            });
          };

        };
      };
    </code></pre>
  </section>
  <!-- <% link_to '/projects' do %><%= image_tag 'i_arrow.svg', :class => 'i_arrow', :alt => 'Back Arrow' %> Back to Projects List<% end %> -->
</section>