---
layout: project_detail
theme: dark
id: proj_detail

title: Urban Walls
subtitle: Public Art & Community Revitalization
hero: proj_urbanwalls.png
---
<button>Demo</button><button>GitHub Repo</button>
</section>
<section class="card">
  <p class="lg"><%= lorem.paragraphs 5 %>
</section>