.logo{
  width: 64px;
  margin: auto;
}

#social-links {
	& ul {
		display: flex;
    margin: auto;
	}

	& li {
		flex: 1;
	}

	& a {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: 0px 12px;
		color: $navy;
		padding: 0px;
		min-width: 80px;
    img{
      width:32px;
    }
		&:hover img {
			margin-top: -34px;
			cursor: pointer;
		}
	}

	& div {
		height: 34px;
		margin-bottom: 8px;
		overflow: hidden;
	}
}

button {
  display: block;
  margin: 0.2rem auto;
  padding: 1.1rem 0rem;
  border-radius: 0.6rem;
  background-color: $green;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: border-color .3s ease,
    background-color .3s ease;

  &:hover{
    background-color: $yellow;
    transition: background-color .3s ease;
  }

  a{
  	padding: 1.1rem 2.5rem;
    color: $white;
    transition: color .3s ease;
    border-radius: 0.6rem;
    border: 0.2rem solid darken($green, 5%);

    &:hover{
      text-decoration: none;
      border-color: #E3A730;
      color: $navy;
      transition: border-color .3s ease,
        color .3s ease;
    }
  }
}