// Body Copy
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

// Code
@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

// Headers
@font-face {
  font-family: 'Milkshake';
  src: url('milkshake.ttf') format('truetype');
  font-weight: 300;
}

// Type Styles
