html{
    box-sixing: border-box;
    font-size: 62.5%;
    @extend %nunito;
}

*, *:before, *:after{
  padding: 0px;
  margin: 0px;
  margin: 0px;
  border: 0px;
  color: $navy;
  box-sizing: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

img{
  display: inline-block;
}

ul, li{
  list-style-type: none;
}

a{
  color: $green;
  text-decoration: none;
}

p{
  margin: auto;
  margin-bottom: 30px;
  line-height: 140%;
  font-size: 1.6rem;
  &.lg{
    font-size: 2.4rem;
  }
}

h1{
  @extend %milkshake;
  font-weight: 300;
  font-size: 6.4rem;
  text-align: center;
  color: $green;
  background-color: $navy;
  margin-bottom: 40px;
  padding: 20px;
}

h2{
  strong{
    font-weight: 600;
  }
}

h3{
  font-size: 3.8rem;
  text-align: center;
  font-weight: 300;
  margin-top: 30px;
  text-transform: uppercase;
}

h4{
  font-weight: 800;
  font-size: 2rem;
}

h5{
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 12px;
  font-size: 1.4rem;
  color: $navy-lt;
  text-transform: uppercase;
}

pre{
  @extend %hack;
  background-color: $navy;
  border-radius: 7px;
  padding: 5px 10px 20px 10px;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  white-space: pre-wrap;
  box-shadow: 0px 10px 25px rgba(0,0,0,.3);
}

code{
  font-size: 1.2rem;
  color: $white;
  line-height: 150%;
  width: 50%;
}

footer{
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}