html{
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $navy-lt;
  height: 100%;
  // background-image: url(../img/bg_lines.svg);
  @extend %nunito;
}

body{
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

*, *:before, *:after {
  padding: 0px;
  margin: 0px;
  margin: 0px;
  border: 0px;
  color: $navy;
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
}

.content{
  flex: 1 0 auto;
}

img{
  display: inline-block;
}

.headshot{
  width: 20rem;
}

ul, li{
  list-style-type: none;
}

a{
  color: $green;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
    color: $green;
  }
}

p{
  margin: auto;
  margin-bottom: 30px;
  line-height: 140%;
  font-size: 1.6rem;
  &.lg{
    // text-align: center;
    font-size: 2.4rem;
    line-height: 145%;
  }
  &.detail{color:$navy-md;}
}

.lt{
  color: $navy-md;
}


h1{
  @extend %milkshake;
  font-weight: 300;
  font-size: 6.4rem;
  text-align: center;
  color: $green;
  background-color: $navy;
  margin-bottom: 40px;
  padding: 20px;
}

h2{
  @extend %milkshake;
  font-weight: 300;
  font-size: 5.4rem;
  text-align: center;
  color: $navy;
  margin-bottom: 2.8rem;
  text-shadow: 0rem 0.2rem 0rem $white;
}

h3{
  @extend %milkshake;
  font-size: 4rem;
  text-align: center;
  font-weight: 200;
  color: $navy;
  text-shadow: 0rem 0.2rem 0rem $white;
}

h4{
  font-weight: 800;
  font-size: 2rem;
}

h5{
  font-weight: 700;
  font-size: 1.3rem;
  color: $navy-md;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

h6, .h6{
  font-weight: 400;
  font-size: 1.2rem;
  color: $navy-md;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

footer{
  width: 100%;
  background-color: $yellow;
  border-top: 3px solid $navy;
  text-align: center;
  font-size: 1rem;
  margin-top: 4rem;
  text-transform: uppercase;
  padding: 3rem;

  .logo{
    margin: 1rem auto;
  }
}

#copyright {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
  margin: 1.2rem auto;
}

.card{
  min-width: 20rem;
  max-width: 70rem;
  margin: 2em auto 0em auto;
  box-shadow: 0px 0.4rem 1rem rgba(0,0,20,.15);
  border-radius: 0.5 rem;
  border: 1px solid darken($navy-lt, 5%);
  background-color: $white;

  &.dark{
    background-color: $navy;
    color: $white;
    border: none;
  }

  @media (max-width: $screen-sm){
    border-radius: 0rem;
    border-left: none;
    border-right: none;
  }
}

.i{
  vertical-align: text-bottom;
  margin-right: 0.8rem;
}

.i_loc{
  margin-left: 2.2rem;
  margin-right: 0.6rem;
}

.i_pres{
  vertical-align: text-top;
}

article{
  padding: 3rem;
  border-bottom: 1px solid darken($navy-lt, 5%);
  position: relative;
  &:last-of-type{
    border-bottom: none;
  }
  p{
    margin-bottom: 0px;
  }
  @media (max-width: $screen-sm){
    padding: 3rem 1.4rem;
  }
}

details{
  margin-left: 2.8rem;
  border-left: 1px solid desaturate(lighten($green, 50%), 50%);


  & > h6{
    padding: 0rem 1.4rem 1.4rem 3.5rem;
  }

  & > p {
    margin-top: 0.6rem;
    padding: 0rem 1.4rem 0rem 4.2rem;
  }

  & > summary:before{
    display: inline-block;
    content: url(../img/i_presentation.svg);
    margin-right: 1rem;
    vertical-align:text-top;
  }

  summary{
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.4rem 1.4rem 0.1rem 1.4rem;
		user-select: none;
    line-height: 180%;
    &:focus{
      outline: none;
    }
    &:hover{
			cursor: pointer;
      background-color: rgba($green, .2);
		}
    &::-webkit-details-marker {
  		display: none;
  	}
  	&::-moz-list-bullet {
  		list-style-type: none;
  	}

  }

}