// Colors
$navy: #2b2E3C;
$navy-md: #877D8E;
$navy-lt: #EDEFF6;
$green: #00AC98;
$white: #FFFFFF;
$pink: #F3695A;
$yellow: #FECA67;

// Type
%nunito{
  font-family: Nunito, 'Century Gothic', 'Lucida Grande', sans-serif;
}

%milkshake{
  font-family: Milkshake, 'Bookman Old Style', 'Century Gothic', serif;
}

%hack{
  font-family: Hack, Courier, monospace;
}