

// Type Colors
@yellow:    	#FCC457;
@green:     	#00AC98;
@green-link: 	#0B9E8C;
@black:			  #1B1E2C;
@navy:        #2B2E3C;
@navy-lt:     #3B3F54;
@grey:      	#362B3C;
@grey-md:     #615666;
@grey-lt:     #877D8E;
@white:			  #FFFFFF;



// Templates
.t-shadow{
    text-shadow: 0px 0px 3px @white;
}

.b-shadow{
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.b-shadow_green{
    box-shadow: 0px 0px 8px rgba(54, 43, 59, 0.25);
}

/*

MEDIA QUERY BREAK POINTS
(max-width: 48em)
(min-width: 48.0625em) and (max-width: 64em)
(min-width: 64.0625em) and (max-width: 105em)
(min-width: 105.0625em)

*/

/*                          Ideal Divisions */
// .f-sectionHeader
// .f-cardHeader
// .f-serifCopy
