@import (reference) 'colors.less';
@import (reference) 'type_mixins.less';

/*                                     GLOBAL STYLES  */
* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	box-sizing: border-box;
	text-align: left;
}

section {
	padding-bottom: 36px;
}

/*                                     NAVIGATION  */
nav.mainnav {
	z-index: 9999;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	top: 0px;

	&.home{
		background-color: @white;
		border-bottom: 2px solid @black;
		position: fixed;
		& a{
			color: @navy;
		}
	}

	&.project{
		background-color: @navy;
		justify-content: center;
		position: absolute;
		& a{
			color: @white;
		}
	}

	& > div {
		box-sizing: border-box;
		width: auto;
		display: flex;
		flex-flow: row;
		justify-content: center;
	}

	& a{
		.ff-cond;
		.f(1rem, 400);
		padding: 1.157em;
		text-transform: uppercase !important;
		text-align: center;
		&:first-of-type{
			display: none;
		}
	}

	@media handheld, (max-width: 48em){

		& a{
			height: 56px;
			min-height: 56px;
			text-align: center;

			&:first-of-type{
				display:inline;
			}

			&:hover{
				background-color: @yellow;
				text-decoration: none;
				transition: background-color 0.9s;
			}
		}

		&.project{
			background-color: @navy-lt;
		}

		& > div{
			flex-flow: column;
			justify-content: flex-start;
			width: 100%;
			max-height: 56px;
			overflow: hidden;
			transition: max-height 0.3s;

			&:hover{
				max-height: 340px;
				transition: max-height 0.3s;
			}
		}

	}
}


/*                                     FOOTER */
footer {
	padding: 0px 36px 36px 36px;
	background-color: @yellow;
	border-top: 4px solid @black;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#contactSocial {
	& ul {
		display: flex;
	}

	& li {
		flex: 1;
	}

	& a {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: 0px 12px;
		color: @navy;
		padding: 0px;
		min-width: 80px;
		&:hover img {
			margin-top: -51px;
			cursor: pointer;
		}
	}

	& div {
		height: 51px;
		margin-bottom: 8px;
		overflow: hidden;
	}
}

#copyright {
	flex-basis: 100%;
	text-align: center;
	padding-top: 36px;
}

@media handheld, (max-width: 48em) {

	footer {
		padding: 0px 24px 36px 24px;
	}

	#contactSocial {
		& ul {
			flex-flow: column;
			align-items: flex-start;
		}

		& li {
			flex: 1;
			margin-left: auto;
			margin-right: auto;
		}

		& a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: 12px 0px;
		}

		& div {
			margin-bottom: 5px;
		}
	}

}
