<footer>
  <img src="img/logo.svg" class="logo">
	<h6>Get In Touch</h6>
	<div id="social-links">
		<ul>
			<li><a href="https://www.linkedin.com/in/MariaSzubski" target="_blank"><div><img src="img/soc_linkedin.svg" alt="LinkedIn"></div>LinkedIn</a></li>
			<li><a href="https://github.com/MariaSzubski" target="_blank"><div><img src="img/soc_github.svg" alt="GitHub"></div>GitHub</a></li>
			<li><a href="https://twitter.com/MariaSzubski" target="_blank"><div><img src="img/soc_twitter.svg" alt="Twitter"></div>Twitter</a></li>
			<li><a href="mailto:hello@mariaszubski.com" target="_blank"><div><img src="img/soc_email.svg" alt="Email Me"></div>Email</a></li>
		</ul>
	</div>
	<div id="copyright">
		&copy;2018 Maria Szubski Digital, LLC • <a href="mailto:hello@mariaszubski.com">Email</a>
	</div>
</footer>