<nav>
	<a id="nav-menu">Menu</a>
	<a href="..">Home</a>
	<a href="../projects">Projects</a>
	<a href="../experience">About Me</a>
	<a href="../involvement">Involvement</a>
	<a href="../contact" id="nav-contact">Let's Connect</a>
</nav>