<article>
  <h4>Chapter Co-Leader & Event Coordinator</h4>
  <p>Responsible for supporting a vibrant community of instructors, volunteers, and students. Co-Leaders plan quarterly course schedules, promote events, foster community partnerships, grow the chapter, and overseeing meetup organizers.</p>
  <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Apr 2018 – Present</h6>
  </p>
</article>

<article>
  <h4>Instructor</h4>
    <ul>
      <li>
        <span class="h6"><img src="img/i_date.svg" alt="Date" class="i_date"/>Oct 2018</span>
        <span>Web Accessibility Workshop</span>
      </li>
      <li>
        <span class="h6"><img src="img/i_date.svg" alt="Date" class="i_date"/>Apr 2018</span>
        <span>Code Your First Website: Intro to HTML &amp; CSS</span>
      </li>
      <li>
        <span class="h6"><img src="img/i_date.svg" alt="Date" class="i_date"/>Jan 2018</span>
        <span>Code Your First Website: New Year's Edition</span>
    </li>
    </ul>
</article>

<article>
  <h4>Class Organizer</h4>
  <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Jul 2017 – Apr 2018</h6>
</article>

<article>
  <h4>Teaching Assistant</h4>
  <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Nov 2015 – Jul 2017</h6>
</article>