<article>
  <h4>Quantifying the Business Value of User Experience</h4>
  <p>This internal publication provides methods of evaluating UX design work while addressing the benefits and challenges of positioning UX within an organization.</p>
  <details>
    <summary>Nielsen Author Series</span> &nbsp;//&nbsp; <span class="lt">Simply Excellent Award</span></summary>
      <ul>
        <li><p>Awarded for an engaging and dynamic presentation, one of the highest-attended Whitepaper events to date. Our team discussed Quantifying the Business Value of User Experience. This <a href="assets/NielsenAuthorSeries_Article.pdf" target="_blank">article (PDF)</a> provides details about the presentation.</p></li>
      </ul>
  </details>
  <h6><img src="img/i_pub.svg" alt="Publication" class="i_date"/>Whitepaper Published at Nielsen</h6>
  </p>
</article>