<article>
  <h4>Web Development Consultant</h4>
  <h5><span class="lt">Maria Szubski Digital, LLC</span></h5>
  <p>Work with clients to strategize and build modern web applications, with an emphasis on accessibility and responsive design.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Jan 2018 – Present
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>Cincinnati, OH</h6>
</article>
<article>
  <h4>UX Visual Designer</h4>
  <h5><a href="http://www.nielsen.com/" target="_blank">Nielsen</a> &nbsp;//&nbsp; User Experience Team</h5>
  <p>Governed Nielsen’s collection of big data applications to ensure brand cohesion, consistency, and ease of use. Designed across multiple frameworks including AngularJS, ReactJS, Sencha, MicroStrategy, and D3. Created mobile applications interfaces that adhered to iOS and Material Design guidelines. Built and maintained UX Documentation website using PHP and AJAX.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Nov 2012 – Dec 2018
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>Cincinnati, OH</h6>
</article>