<article>
  <h4>Whitepaper Published at Nielsen</h4>
  <h6><%= image_tag 'i_pub.svg', :alt => 'Publication', :class => 'i' %>Quantifying the Business Value of User Experience</h6>
  <p>This internal publication provides methods of evaluating UX design work while addressing the benefits and challenges of positioning UX within an organization.</p>
  <details>
    <summary>Nielsen Author Series Presentation</summary>
    <p>Whitepaper Presentation + Q&amp;A. Received an award for being an engaging and dynamic presentation, and one of the highest-attended Whitepaper events to date. This <%= link_to 'article (PDF)', 'assets/NielsenAuthorSeries_Article.pdf', :target => '_blank'%> details the presentation.</p>
  </details>
  </p>
</article>