<article>
  <h4>Simply Excellent Award</h4>
  <p>
    "Maria's outstanding work resulted in a superior and comprehensive upgrade and will ensure an improved panelist experience and achieve associated project productivity."
  </p>
  <h6><%= image_tag 'i_award.svg', :alt => 'Award', :class => 'i' %>Nielsen Family Web App</h6>
</article>