<article>
  <h4>Nielsen Author Series Presentation</h4>
  <h6><%= image_tag 'i_pub.svg', :alt => 'Publication', :class => 'i' %>Quantifying the Business Value of User Experience</h6>
  <p>Internal publication on the benefits and challenges of UX within an organization. Received an award for being an engaging and dynamic presentation, and one of the highest-attended Whitepaper events to date. <%= link_to 'Article (PDF)', 'assets/NielsenAuthorSeries_Article.pdf', :target => '_blank'%></p>
</article>