<article>
  <h4>Simply Excellent Award</h4>
  <p>
    "Maria was a valued member of the Employee Engagement Team who was constantly engaged, provided great guidance & was extremely diligent at meeting timelines. We definitely could not have made this happen without her."
  </p>
  <h6><%= image_tag 'i_award.svg', :alt => 'Award', :class => 'i' %>Nielsen Employee Engagement Team</h6>
</article>