<article>
  <h4>Best Overall Design</h4>
  <p>
    Team submission for a consumer-facing data collection iPad app. Awarded for well-designed user experience, organization, and excellent features.
  </p>
  <h6><%= image_tag 'i_award.svg', :alt => 'Award', :class => 'i' %>Nielsen C-DAR Challenge</h6>
</article>