<article>
  <h4>Nielsen Community Presentation</h4>
  <p>
    Presentation on how best to incorporate UX into project planning and requirements. Received an award for being a "visually appealing, eye-opening" presentation.
  </p>
  <h6><%= image_tag 'i_presentation.svg', :alt => 'Award', :class => 'i' %>User Experience + Requirements Management</h6>
</article>