<article>
  <h4>Chief Engineering: Team Innovation Award</h4>
  <h6><%= image_tag 'i_award.svg', :alt => 'Award', :class => 'i' %>Nielsen Report Builder Web App</h6>
  <p>
    Awarded for outstanding performance, innovation, and dedication. The use of Agile methodology influenced the process of future Nielsen products.
  </p>
</article>