<div class="slideshow" id="recommendations">
  <div><%= partial 'content/rec_03' %></div>
  <div><%= partial 'content/rec_02' %></div>
  <div><%= partial 'content/rec_05' %></div>
  <div><%= partial 'content/rec_06' %></div>
</div>