---
title: Experience
---

<!--
<article>
  <h4>Front-End Web Developer</h4>
  <h5><a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">Company</a> // Independent Contractor</h5>
  <p></p>
</article>
 -->
<section id="experience">
  <button><a href="assets/MariaSzubski_Resume.pdf" download>Resume PDF</a></button>
  <section>
    <h3>Professional Experience</h3>
    <article>
      <h4>Front-End Web Developer</h4>
      <h5>Maria Szubski Digital, LLC <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Jan 2018 – Present</em></h5>
      <p>Work with clients to strategize and build modern web applications, with an emphasis on accessibility and responsive design.</p>
    </article>
    <article>
      <h4>Chapter Leader & Instructor</h4>
      <h5><a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">Girl Develop It Cincinnati</a> <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Apr 2018 – Present</em></h5>
      <p>Responsible for leading and supporting a vibrant community of instructors, volunteers, and students. Co-Leader helping to plan quarterly course schedule, promote events, foster community partnerships, grow the chapter, and run day-to-day operations. Event Coordinator in charge overseeing meetup organizers. Instructor for Intro to HTML/CSS classes.
      </p>
    </article>
    <article>
      <h4>UX Visual Designer</h4>
      <h5><a href="http://www.nielsen.com/" target="_blank">Nielsen</a>  <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Nov 2012 – Dec 17</em></h5></h5>
      <p>Governed Nielsen’s collection of big data applications to ensure brand cohesion, consistency, and ease of use. Designed across multiple frameworks including AngularJS, ReactJS, Sencha, MicroStrategy, and D3. Created mobile applications interfaces that adhered to iOS and Material Design guidelines. Built and maintained UX Documentation website using PHP and AJAX.</p>
    </article>
  </section>
  <section>
    <h3>Co-Ops</h3>
    <article>
      <h4>Graphic Design Intern</h4>
      <h5><a href="http://momentdesign.com/" target="_blank">Moment Design</a> // Digital Product Design Firm <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Winter 2012</em></h5>
      <p>Created designs that improved usability and consistency of data-driven web and mobile products. Researched rapid prototyping tools to accelerate output.</p>
    </article>
    <article>
      <h4>Interactive Design Intern</h4>
      <h5><a href="http://www.antfarm.net/" target="_blank">The Ant Farm</a> // Entertainment Advertising Agency <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Winter &amp; Summer 2011</em></h5>
      <p>Developed jQuery-based site to promote company accomplishments. Created assets for ad campaigns, including website designs and social media themes.</p>
    </article>
    <article>
      <h4>Digital Design Intern</h4>
      <h5><a href="http://www.jcpenney.com/" target="_blank">JCPenney</a> // IT Innovations <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Summer 2010</em></h5>
      <p>Improved customers’ shopping experience by redesigning large-format kiosk and iPad app interfaces. Pitched concepts for digital shopping experiences.</p>
    </article>
    <article>
      <h4>Graphic Design Intern</h4>
      <h5><a href="http://www.chesapeakegrp.com/" target="_blank">Chesapeake Group</a> // Packaging &amp; Branding <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Winter 2010</em></h5>
      <p>Assembled packaging samples for user tests. Shot photography for sales materials. Pitched concepts for a line of educational toys.</p>
    </article>
    <article>
      <h4>Web Design Intern</h4>
      <h5><a href="http://www.evenflo.com/" target="_blank">Evenflo</a> // Marketing <img src="img/i_date.svg" alt="Date" class="i_date"/> <em>Summer 2009</em></h5>
      <p>Built interactive guides in Flash that walked customers through installation and use of company’s products. Maintained internal CMS and social networks. </p>
    </article>
  </section>
  <section>
    <h3>Education</h3>
    <article>
      <h4>Bachelor of Science in Digital Design</h4>
      <h5><a href="http://www.uc.edu/" target="_blank">University of Cincinnati</a> // College of Design, Architecture, Art, and Planning</h5>
      <p>Participated in the Professional Practice program, alternating quarters of classes with quarters of work experience in the field of Digital Design.</p>
    </article>
  </section>
</section>