---
title: Experience
---
<section id="experience">
  <button><a href="assets/MariaSzubski_Resume.pdf" download>Download Resume (PDF)</a></button>
  <section>
    <h3>Professional Experience</h3>
    <div class="container">
      <%= partial 'content/exp_prof' %>
    </div>
  </section>
  <section>
    <h3>Co-Op Experience</h3>
    <div class="container">
      <%= partial 'content/exp_coop' %>
    </div>
  </section>
  <section>
    <h3>Education</h3>
    <div class="container">
      <article>
        <h4>Bachelor of Science in Digital Design</h4>
        <h5><a href="http://www.uc.edu/" target="_blank">University of Cincinnati</a> // College of Design, Architecture, Art, and Planning</h5>
        <p>Participated in the Professional Practice program, alternating quarters of classes with quarters of work experience in the field of Digital Design.</p>
        <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Class of 2012</h6>
      </article>
    </div>
  </section>
</section>