---
title: Experience
---
<section id="experience">
  <button><a href="assets/MariaSzubski_Resume.pdf" download>Download Resume (PDF)</a></button>
  <section>
    <h3>Professional Experience</h3>
    <article>
      <h4>Front-End Web Developer</h4>
      <h5><span id="llc">Maria Szubski Digital, LLC</span> &nbsp;//&nbsp; Independent Contractor</h5>
      <p>Work with clients to strategize and build modern web applications, with an emphasis on accessibility and responsive design.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Jan 2018 – Present
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Cincinnati, OH</h6>
    </article>
    <article>
      <h4>Chapter Leader & Instructor</h4>
      <h5><a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">Girl Develop It</a> &nbsp;//&nbsp; Cincinnati Chapter</h5>
      <p>Responsible for leading and supporting a vibrant community of instructors, volunteers, and students. Co-Leader helping to plan quarterly course schedule, promote events, foster community partnerships, grow the chapter, and run day-to-day operations. Event Coordinator in charge overseeing meetup organizers. Instructor for Intro to HTML/CSS classes.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Apr 2018 – Present
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Cincinnati, OH</h6>
    </article>
    <article>
      <h4>UX Visual Designer</h4>
      <h5><a href="http://www.nielsen.com/" target="_blank">Nielsen</a> &nbsp;//&nbsp; User Experience Team</h5>
      <p>Governed Nielsen’s collection of big data applications to ensure brand cohesion, consistency, and ease of use. Designed across multiple frameworks including AngularJS, ReactJS, Sencha, MicroStrategy, and D3. Created mobile applications interfaces that adhered to iOS and Material Design guidelines. Built and maintained UX Documentation website using PHP and AJAX.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Nov 2012 – Dec 2018
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Cincinnati, OH</h6>
    </article>
  </section>
  <section>
    <h3>Co-Op Experience</h3>
    <article>
      <h4>Graphic Design Intern</h4>
      <h5><a href="http://momentdesign.com/" target="_blank">Moment Design</a> &nbsp;//&nbsp; Digital Product Design Firm</h5>
      <p>Created designs that improved usability and consistency of data-driven web and mobile products. Researched rapid prototyping tools to accelerate output.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Winter 2018
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>New York, NY</h6>
    </article>
    <article>
      <h4>Interactive Design Intern</h4>
      <h5><a href="http://www.antfarm.net/" target="_blank">The Ant Farm</a> &nbsp;//&nbsp; Entertainment Advertising Agency</h5>
      <p>Developed jQuery-based site to promote company accomplishments. Created assets for ad campaigns, including website designs and social media themes.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Winter &amp; Summer 2011
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Los Angeles, CA</h6>
    </article>
    <article>
      <h4>Digital Design Intern</h4>
      <h5><a href="http://www.jcpenney.com/" target="_blank">JCPenney</a> &nbsp;//&nbsp; IT Innovations Department</h5>
      <p>Redesigned large-format kiosk and iPad app UI to improve in-store shopping experience. Pitched concepts for digital shopping experiences.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Summer 2010
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Plano, TX</h6>
    </article>
    <article>
      <h4>Graphic Design Intern</h4>
      <h5><a href="http://www.chesapeakegrp.com/" target="_blank">Chesapeake Group</a> &nbsp;//&nbsp; Packaging &amp; Branding Firm</h5>
      <p>Assembled packaging samples for user tests. Shot photography for sales materials. Pitched concepts for a line of educational toys.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Winter 2010
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Cincinnati, OH</h6>
    </article>
    <article>
      <h4>Web Design Intern</h4>
      <h5><a href="http://www.evenflo.com/" target="_blank">Evenflo</a> &nbsp;//&nbsp; Marketing Department</h5>
      <p>Built interactive guides in Flash that walked customers through installation and use of company’s products. Maintained internal CMS and social networks.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Summer 2009
          <img src="img/i_loc.svg" alt="Location" class="i_loc"/>Miamisburg, OH</h6>
    </article>
  </section>
  <section>
    <h3>Education</h3>
    <article>
      <h4>Bachelor of Science in Digital Design</h4>
      <h5><a href="http://www.uc.edu/" target="_blank">University of Cincinnati</a> // College of Design, Architecture, Art, and Planning</h5>
      <p>Participated in the Professional Practice program, alternating quarters of classes with quarters of work experience in the field of Digital Design.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Class of 2012</h6>
    </article>
  </section>
</section>