---
title: Professional Experience
id: experience
---
<button><%= link_to 'Download Resume (PDF)', '/assets/MariaSzubski_Resume.pdf', :target => '_blank'%></button>
<section>
  <h3>Professional Experience</h3>
  <div class="card">
    <%= partial 'content/exp_professional' %>
  </div>
</section>
<section>
  <h3>Co-Op Experience</h3>
  <div class="card">
    <%= partial 'content/exp_coop' %>
  </div>
</section>
<section>
  <h3>Education</h3>
  <div class="card">
    <article>
      <h4>Bachelor of Science in Digital Design</h4>
      <h5><a href="http://www.uc.edu/" target="_blank">University of Cincinnati</a> &nbsp;//&nbsp; College of Design, Architecture, Art, and Planning</h5>
      <p>Participated in the Professional Practice program, alternating quarters of classes with quarters of work experience in the field of Digital Design.</p>
      <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Class of 2012</h6>
    </article>
  </div>
</section>