<%= image_tag data.aws + 'index/headshot.jpg', :alt => 'Maria Szubski' %>
<h1>Maria Szubski</h1>
<h2>Front-End Developer</h2>
<p>// SOCIAL LINKS</p>
<p>// SKILLS</p>
<p>// RECOMENDATIONS</p>
<p>// CONTACT FORM</p>