---
id: index
slides: true
---
<%= image_tag  data.aws + 'index/headshot.jpg', :alt => 'Maria Szubski', :class => 'headshot',
    :srcset => data.aws + 'index/headshot.jpg,' +
  	           data.aws + 'index/headshot@2x.jpg 2x,' +
  	           data.aws + 'index/headshot@3x.jpg 3x,'+
  	           data.aws + 'index/headshot@4x.jpg 4x' %>

<h1>Maria Szubski</h1>
<h2>Web Development Consultant</h2>
<p>// SOCIAL LINKS</p>
<p>// SKILLS</p>
<section class="recognition">
  <h3>Recognition</h3>
  <%= partial 'content/testimonials' %>
</section>
<p>// CONTACT FORM</p>