---
title: Involvement
---
<section id="involvement">
  <button><a href="assets/MariaSzubski_Resume.pdf" download>Download Resume (PDF)</a></button>
  <section>
    <h3>Girl Develop It</h3>
    <p class="lg">Girl Develop It is a non-profit that empowers women from diverse backgrounds through affordable, judgment-free technology classes. I've been involved with the <a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">Cincinnati Chapter</a> as a student, volunteer, organizer, and instuctor since 2015.</p>
    <div class="container">
      <%= partial 'content/exp_gdi' %>
    </div>
  </section>
  <!--                                       PUB & AWARDS -->
  <section>
    <h3>Publications & Awards</h3>
      <div class="container">
        <%= partial 'content/exp_awards' %>
      </div>
  </section>
</section>