---
title: Involvement
---
<section id="involvement">
  <button><a href="assets/MariaSzubski_Resume.pdf" download>Resume PDF</a></button>
  <section>
    <h3>Non-Profit Experience</h3>
    <p class="lg">Girl Develop It is a non-profit that empowers women from diverse backgrounds through affordable, judgment-free technology classes. I've been involved with the <a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">Cincinnati Chapter</a> as a student, volunteer, organizer, and instuctor for the last three years.</h5></p>
    <article>
      <h4>Chapter Leader & Instructor</h4>
      <p>Responsible for leading and supporting a vibrant community of instructors, volunteers, and students. Co-Leader helping to plan quarterly course schedule, promote events, foster community partnerships, grow the chapter, and run day-to-day operations. Event Coordinator in charge overseeing meetup organizers. Instructor for Intro to HTML/CSS classes.</p>
      <details>
        <summary>Classes Taught</summary>
          <ul>
            <li>Code Your First Website: Intro to HTML/CSS</span> &nbsp;//&nbsp; <span class="lt">April 2018</span></li>
            <li>Code Your First Website: New Year's Edition</span> &nbsp;//&nbsp; <span class="lt">January 2018</span></li>
          </ul>
      </details>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Apr 2018 – Present</h6>
      </p>
    </article>
    <article>
      <h4>Class Organizer</h4>
      <p>Worked with Chapter Leaders to plan quarterly curriculum and events. Organized classes and promoted them on social media. Fostered partnerships with local organizations. Awarded scholarships. Assisted with class operations.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Jul 2017 – Apr 2018</h6>
      </p>
    </article>
    <article>
      <h4>Teaching Assistant</h4>
      <p>Provided mentoring and resources to students taking web development classes.</p>
      <h6><img src="img/i_date.svg" alt="Date" class="i_date"/>Nov 2016 – Jul 2017</h6>
      </p>
    </article>
  </section>
  <section>
    <h3>Publications & Awards</h3>
    <article>
      <h4>Quantifying the Business Value of User Experience</h4>
      <p>This internal publication provides methods of evaluating UX design work while addressing the benefits and challenges of positioning UX within an organization.</p>
      <details>
        <summary>Nielsen Author Series</span> &nbsp;//&nbsp; <span class="lt">Simply Excellent Award</span></summary>
          <ul>
            <li><p>Awarded for an engaging and dynamic presentation, one of the highest-attended Whitepaper events to date. Our team discussed Quantifying the Business Value of User Experience. This <a href="assets/NielsenAuthorSeries_Article.pdf" target="_blank">article (pdf)</a> provides details about the presentation.</p></li>
          </ul>

      </details>
      <h6><img src="img/i_pub.svg" alt="Publication" class="i_date"/>Whitepaper Published at Nielsen</h6>
      </p>
    </article>
  </section>
</section>