---
title: Projects
---
<section id="projects">
  <h3>Projects</h3>
  <div class="container">
    <a href="project/.html">
      <img src="img/proj_insight.png" alt="Insight" />
      <div class="label">
        <h4>Insight</h4>
        <h5>Phonegap • jQuery • User Testing</h5>
      </div>
    </a>
    <a href="project/.html">
      <img src="img/proj_styleguide.png" alt="Style Guide Template" />
      <div class="label">
        <h4>Style Guide Template</h4>
        <h5>PHP • AJAX • ES6 • Responsive Design</h5>
      </div>
    </a>
    <a href="project/.html">
      <img src="img/proj_guitar.png" alt="Guitar Practice Log" />
      <div class="label">
        <h4>Guitar Practice Log</h4>
        <h5>JavaScript • Mobile UI Design • InVision Prototyping</h5>
      </div>
    </a>
    <a href="project/.html">
      <img src="img/proj_ikea.png" alt="IKEA RFID Experience" />
      <div class="label">
        <h4>IKEA RFID Experience</h4>
        <h5>User Stories • Wayfinding • UI Design • Animation</h5>
      </div>
    </a>
    <a href="project/.html">
      <img src="img/proj_javascript.png" alt="JavaScript Snippets" />
      <div class="label">
        <h4>JavaScript Snippets</h4>
        <h5>ES6 • jQuery</h5>
      </div>
    </a>
    <a href="project/.html">
      <img src="img/proj_urbanwalls.png" alt="Urban Walls" />
      <div class="label">
        <h4>Urban Walls</h4>
        <h5>Storytelling</h5>
      </div>
    </a>
  </div>
</section>